*{
    margin: 0px;
    padding: 0px;
}


h3{
    color: #22314d;
    font-family: 'Lato', sans-serif;
    font-size: 16pt;
    padding-left: 45px;
    padding-top: 18px;
    letter-spacing: .5px;
}


.wrapper{
    width: 990px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}


.mortage-section{
    background: url(../img/mortage-background.jpg);
    width: 647px;
    height: 337px;
    top: 80px;
    position: absolute;
}


.redform{  
    padding: 0px !important; 
    box-shadow: none !important;
    background-color: rgba(0,0,0,0) !important;
}

.redform form {
    padding: 0px !important;
    border: none !important;
    background-color: rgba(0,0,0,0) !important;
}


/*  ================
    INPUTS 
    =========
*/

.redform input,
.redform .add-on,
.redform textarea,
.redform button {
  border-radius: 0px !important;
  border: none !important;
}


.form-only input{
    width: 124px !important;
    margin-left: 90px !important;
    margin-top: -53px !important;
    height: 26.5px !important;
}

.move-first{
    margin-top: 23px !important;
    margin-left: 10px !important;
}

.move-left{
   /* background-color: red !important;*/
    margin-left: 250px !important;
    margin-top: -63px !important;
}

.move-top{
    margin-top: -25px !important;
}

/*  ================
    REQUIRE FIELD 
    =========
*/

div.required.legend:before,
.redform .required label:after{
    color: white !important;
    float: right;
} 

/*  ================
    LABELS 
    =========
*/


.type-textInput label{
    background-color: #1a3d63 !important;
    padding: 5px;
    color: white;
    width: 80px;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 10pt;
    text-align: center;
}




/*  ================
    TEXTAREA 
    =========
*/

.type-textarea{
    margin-left: 10px !important;
    margin-top: -28px !important;
    height: 70px !important;
    width: 470px;
}





/*  ================
    CHECKBOX 
    =========
*/


.checkbox{
  margin-left: 10px !important; 
  margin-top: -3px !important;
}

.checkbox p{
    color: #1a3d63 !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 8pt !important; 
}

.checkbox input{
    height: 16px !important;
}

textarea{
    padding-left: 5px !important;
    padding-top: 5px !important;
}





/*  ================
    CAPTCHA DIV
    =========
*/

.captcha{
    background-color: white;
    height: 26px;
    width: 67px;
    margin-top: -43px;
    margin-left: 10px;
}


.input-captcha{
    margin-top: -27px;
}

.input-captcha p{
    color: white;
    opacity: .5;
    font-style: italic;
    margin-left: 98px;
    margin-top: 2px;
    font-size: 11pt;
}

.tp-widget .input-captcha input{
    width: 115px;
    height: 24px;
    margin-left: 100px;
}







/*  ================
    BUTTONS 
    =========
*/
.redform button,
.redform .type-navigation input.btn {
    height: 42px !important;
    width: 143px !important;
    background-image: none !important;
    background-color: #f99407 !important;
    border: 1px solid #f99407 !important;
    padding: 1px 15px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    color: white;
}


.redform button:active,
.redform .type-navigation input.btn:active {
    background-image: none;
    background-color: #f99407 !important;
    outline: none;
    color: white !important;
}

.redform .type-submit button {
  min-width: 145px !important;
  font-size: 100%;
  letter-spacing: 1px;  margin-top: 3px !important;
}

.redform .type-submit button:active {
  min-width: 145px !important;
}





/*  ================
    MORTAGE NAME
    =========
*/
.name{
    color: white;
    padding-right: 10px;
    margin-top: -60px;
    text-align: right;
    line-height: 26px;
    font-family: 'Lato', sans-serif;
}











/*  ================
    VIP SECTION
    =========
*/

.vip-section{
    background: url(../img/vip-background.png);
    height: 337px;
    top: 80px;
    left: 675px;
    width: 315px;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.vip-section h3{
    line-height: 25px;
    vertical-align: middle;
    padding-left: 20px !important;
}


.info-vip{
    height: 150px;
    width: 120px;
    margin-top: 45px;
    margin-left: 10px;
    position: absolute;
    font-size: 10pt;
    line-height: 27px;
}

.join-now-vip{
    height: 85px;
    width: 85px;
    background-color: #f99407;
    border-radius: 50px;
    position: absolute;
    margin-left: 80px;
    margin-top: 150px;
    color: white;
    font-size: 11pt;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
}

.join-now-vip p{
    margin-top: 23px;
}

.vip-plus{
    margin-top: 22px;
    color: #f99407;
    text-align: center;
    margin-top: 235px;
    line-height: 20px;
}